* {
    margin: 0;
    padding: 0;
}
@import url(https://fonts.googleapis.com/css?family=Raleway);
/*body*/
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    color: black;
    font-size: 16px;
    /*line-height: 24px;*/
    text-align: justify;
    /*line-height: 3px;*/
}
/* hero div in header*/
.hero {
    position: absolute;
    /*width: 1140px;*/
    min-width: 100%;
    top: 50%;
    left: 50%;
	color: #cfcfcf;
    transform: translate(-50%, -50%);
}
.hero h1 {
    color: #ffffff;
}
/* header*/
/*header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
	background-repeat: no-repeat;
	color: #cfcfcf;
    min-width: 100%;
    background-size: cover;
}*/

/*Header top*/
.top {background-color: #404040;padding: 10px 0;color: #fff;}
.top p {margin: 0;}
.top ul {margin: 0;padding: 0;}
.top li i {color: #fff;}
.top li a {color: #fff;}
.top li a:hover {text-decoration: none;}
.top li a:hover,.top li a:hover i {color: #005FA6;transition-property: all;transition-duration: 0.3s;transition-timing-function: linear;}
/*footer*/
footer {
    height: 50px;
    background: black;
    color: white;
}
.footer-social li {
    display: inline-block;
    margin-left: 20px;
}
/* Navigation and menu*/
.link-1:hover {
  border-top: 2px solid #45aed6;
  border-bottom: 2px solid #45aed6;
}
nav img {
    margin-top: 0;
    height: 35px;
    width: auto ;
    
}
#sy-menu {
	padding: 10px;
	transition: all 0.8s;
    /*background: rgba(255, 255, 255, 0.9);*/
}
    /*#sy-menu.navbar-default {
        background-color: rgba(248, 248, 248, 0);
    }*/


/*Section*/
section {
     /*margin-top: 50px;*/
     min-height:100vh;
}
.section-header {
  margin-bottom: 50px;
  margin-top: 25px;
  
}
.section-header .section-title {
  font-size: 40px;
  color: #272727;
  
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px;
}
.section-header .section-title:before {
  content: "";
  position: absolute;
  width: 140px;
  bottom: 0;
  left: 50%;
  margin-left: -70px;
  height: 1px;
  background: #ebebeb;
}
.section-header .section-title:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -11px;
  left: 50%;
  margin-left: -12px;
  border: 3px solid #fff;
  border-radius: 0px;
  background: #45aed6;
}

/*About us section*/
#aboutus {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/yoga-1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
	background-repeat: no-repeat;
	color: #cfcfcf;
    
}
#aboutus h3 {
    color: white;
}
#aboutus-data {
    margin-top: 10%;
}
#aboutus p {
    font-weight: 500;
    text-align: justify;
    color: white;
}
#aboutus img {
    width: 100%;
}

/*Faculty Section*/
#faculty {
     /*background:#f1faff;*/
     margin-bottom: 50px;
     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(/images/Yoga_Images/girl-1665173__340.jpg);background-size: cover;
}
#faculty .faculty-box {
  position: relative;
  padding: 30px;
  padding-top: 5em;
  background: #fff;
  float: left;
  width: 100%;
  -webkit-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
  -ms-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  height: 400px;
  margin-bottom: 50px;
}
#faculty .faculty-box:hover {
    -webkit-box-shadow: 0px 2px 10px -1px blue;
  -moz-box-shadow: 0px 2px 10px -1px blue;
  -ms-box-shadow: 0px 2px 10px -1px blue;
  -o-box-shadow: 0px 2px 10px -1px blue;
  box-shadow: 0px 2px 10px -1px blue;
}

@media screen and (max-width: 992px) {
  #faculty .faculty-box {
    margin-bottom: 110px;
  }
}
#faculty .faculty-box .facutymember {
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: -73px;
  margin-left: -73px;
  width: 147px;
  height: 147px;
}
#faculty .faculty-box .facutymember img {
    width: 147px;
    height: 147px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
   overflow: hidden;
  border: 5px solid transparent;
}
#faculty .faculty-box h3 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}
#faculty .faculty-box .position {
    font-size: 16px;
  color: #8f989f;
  display: block;
  margin-bottom: 30px;
}
#faculty .faculty-box p {
    text-indent: 50px;
    text-align: justify;
}
#faculty .faculty-box .social-media {
  padding: 0;
    margin: 20px;
}
#faculty .faculty-box .social-media li {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 24px;
  margin-right: 10px;
}
#faculty .faculty-box .social-media li a {
    color: #333;
}
#faculty .faculty-box .social-media li a:hover,#faculty .faculty-box .social-media li a:focus,#faculty .faculty-box .social-media li a:active {
    text-decoration: none;
    color: #ff3b30 !important;
}
  

/*Feature Program Section*/  
#featuredprogram-box div {
     padding: 10px;
     
}
.single-feature {
   margin-bottom: 30px; 
   border: 1px solid #cac8c8;   
}
.single-feature:hover {
    border: 1px solid #3ab0b7;
}
.single-feature .featureimage {
    position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
.single-feature .featureimage:hover .overlay{ opacity: 0.7;}
.text {
  color: white;
    font-weight: bold;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.featureimage img {
    width: 100%;
    height: 300px;
}
.single-feature .featurecaption {
    overflow: hidden;
    padding: 24px 48px 20px 20px;
    height: 154px;
}
.featurecaption h4 {
    /*font-family: Montserrat;*/
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 11px;
    text-transform: uppercase;
}
   
.featurecaption a {
    text-decoration: none;
        font-size: 18px;
    font-weight: 400;
}

/*back to top button*/

/*#back-top {
    position: fixed;
    z-index: 1000;
    bottom: 40px;
    right: 50px;
}*/

/*#backtotop{z-index:999; display:inline-block; position:fixed; visibility:hidden; bottom:20px; right:20px; width:36px; height:36px; line-height:36px; font-size:16px; text-align:center; opacity:.2;}
#backtotop i{display:block; width:100%; height:100%; line-height:inherit;}
#backtotop.visible{visibility:visible; opacity:.5;}
#backtotop:hover{opacity:1;}*/

.carousel-inner img {
    min-width: 100%;
    background-size: cover;
   
}
/*#contactus{ background-image: url(/images/Yoga_Images/pexels-photo-374633.jpeg);background-size: cover;}*/
/*CONTACT US*/
.boxed-grey {
	background: #f9f9f9;
	padding: 20px;
}
form#contact-form .form-group label {
	text-align: left !important;
	display: block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
}
form#contact-form input,form#contact-form select,form#contact-form textarea {
	border-radius: 0;
	border: 1px solid #eee;
  -webkit-box-shadow: none;
          box-shadow:  none;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.input-group-addon {
  background-color: #fefefe;
  border: 1px solid #eee;
  border-radius: 0;
}

.widget-contact {
	text-align: left;
}

.company-social {
	margin-left: 0;
	padding-left: 0;
	margin-top: 10px;
}

.company-social {
	text-align: left;
}

.company-social li{
    display: inline-block;
	margin:0 !important;
	padding:0;
}


.company-social a{
	margin:0;
	padding:0;
    display: block;
	width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #3bbec0;
	color: #fff;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.company-social a i{
	text-align: center;
	margin:0;
	padding:0;
}
.company-social .social-facebook a{background: #3873ae;}
.company-social .social-twitter a{background: #62c6f8;}
.company-social .social-dribble a{background: #d74980;}
.company-social .social-deviantart a{background: #8da356;}
.company-social .social-google a{background: #000;}
.company-social .social-vimeo a{background: #51a6d3;}
.company-social .social-facebook a:hover{background: #4893ce;}
.company-social .social-twitter a:hover{background: #82e6ff;}
.company-social .social-dribble a:hover{background: #f769a0;}
.company-social .social-deviantart a:hover{background: #adc376;}
.company-social .social-google a:hover{background: #333;}
.company-social .social-vimeo a:hover{background: #71c6f3;}


