* {
    margin: 0;
    padding: 0;
}
@import url(https://fonts.googleapis.com/css?family=Raleway);
/*body*/
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    color: black;
    font-size: 16px;
    /*line-height: 24px;*/
    text-align: justify;
    /*line-height: 3px;*/
}
/* hero div in header*/
.hero {
    position: absolute;
    /*width: 1140px;*/
    min-width: 100%;
    top: 50%;
    left: 50%;
	color: #cfcfcf;
    transform: translate(-50%, -50%);
}
.hero h1 {
    color: #ffffff;
}
/* header*/
/*header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
	background-repeat: no-repeat;
	color: #cfcfcf;
    min-width: 100%;
    background-size: cover;
}*/

/*Header top*/
.top {background-color: #404040;padding: 10px 0;color: #fff;}
.top p {margin: 0;}
.top ul {margin: 0;padding: 0;}
.top li i {color: #fff;}
.top li a {color: #fff;}
.top li a:hover {text-decoration: none;}
.top li a:hover,.top li a:hover i {color: #005FA6;transition-property: all;transition-duration: 0.3s;transition-timing-function: linear;}
/*footer*/

footer{ background-color: #000;}

/* Navigation and menu*/
.link-1:hover {
  border-top: 2px solid #45aed6;
  border-bottom: 2px solid #45aed6;
}
nav img {
    margin-top: 0;
    height: 35px;
    width: auto ;
    
}
#sy-menu {
	padding: 10px;
	transition: all 0.8s;
    /*background: rgba(255, 255, 255, 0.9);*/
}
    /*#sy-menu.navbar-default {
        background-color: rgba(248, 248, 248, 0);
    }*/


/*Section*/
section {
     margin-top: 50px;
     min-height:100vh;
}
.section-header {
  margin-bottom: 50px;
  margin-top: 50px;
  
}
.section-header .section-title {
  font-size: 40px;
  color: #272727;
  
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px;
}
.section-header .section-title:before {
  content: "";
  position: absolute;
  width: 140px;
  bottom: 0;
  left: 50%;
  margin-left: -70px;
  height: 1px;
  background: #ebebeb;
}
.section-header .section-title:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -11px;
  left: 50%;
  margin-left: -12px;
  border: 3px solid #fff;
  border-radius: 0px;
  background: #45aed6;
}

/*About us section*/
#aboutus {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/yoga-1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
	background-repeat: no-repeat;
	color: #cfcfcf;
    
}
#aboutus h3 {
    color: white;
}
#aboutus-data {
    margin-top: 10%;
}
#aboutus p {
    font-weight: 500;
    text-align: justify;
    color: white;
}
#aboutus img {
    width: 100%;
}

/*Faculty Section*/
#faculty {
     /*background:#f1faff;*/
     margin-bottom: 50px;
     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(/images/Yoga_Images/girl-1665173__340.jpg);background-size: cover;
}
#faculty .faculty-box {
  position: relative;
  padding: 30px;
  padding-top: 5em;
  background: #fff;
  float: left;
  width: 100%;
  -webkit-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
  -ms-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  height: 400px;
  margin-bottom: 50px;
}
#faculty .faculty-box:hover {
    -webkit-box-shadow: 0px 2px 10px -1px blue;
  -moz-box-shadow: 0px 2px 10px -1px blue;
  -ms-box-shadow: 0px 2px 10px -1px blue;
  -o-box-shadow: 0px 2px 10px -1px blue;
  box-shadow: 0px 2px 10px -1px blue;
}

@media screen and (max-width: 992px) {
  #faculty .faculty-box {
    margin-bottom: 110px;
  } .sticky-container { display: none; }
}
#faculty .faculty-box .facutymember {
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: -73px;
  margin-left: -73px;
  width: 147px;
  height: 147px;
}
#faculty .faculty-box .facutymember img {
    width: 147px;
    height: 147px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
   overflow: hidden;
  border: 5px solid transparent;
}
#faculty .faculty-box h3 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}
#faculty .faculty-box .position {
    font-size: 16px;
  color: #8f989f;
  display: block;
  margin-bottom: 30px;
}
#faculty .faculty-box p {
    text-indent: 50px;
    text-align: justify;
}
#faculty .faculty-box .social-media {
  padding: 0;
    margin: 20px;
}
#faculty .faculty-box .social-media li {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 24px;
  margin-right: 10px;
}
#faculty .faculty-box .social-media li a {
    color: #333;
}
#faculty .faculty-box .social-media li a:hover,#faculty .faculty-box .social-media li a:focus,#faculty .faculty-box .social-media li a:active {
    text-decoration: none;
    color: #ff3b30 !important;
}
  

/*Feature Program Section*/  
#courses-box div {
     padding: 10px;
     
}
.single-course {
   margin-bottom: 30px; 
   border: 1px solid #cac8c8;   
}
.single-course:hover {
    border: 1px solid #3ab0b7;
}
.single-course .courseimage {
    position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
.single-course .courseimage:hover .overlay{ opacity: 0.7;}
.text {
  color: white;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  target: 
}
.courseimage img {
    width: 100%;
    height: 300px;
}
.single-course .coursecaption {
    overflow: hidden;
    padding: 24px 48px 20px 20px;
    height: 154px;
}
.coursecaption h4 {
    /*font-family: Montserrat;*/
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 11px;
    text-transform: uppercase;
}
   
.coursecaption a {
    text-decoration: none;
        font-size: 18px;
    font-weight: 400;
}

/*back to top button*/

/*#back-top {
    position: fixed;
    z-index: 1000;
    bottom: 40px;
    right: 50px;
}*/

/*#backtotop{z-index:999; display:inline-block; position:fixed; visibility:hidden; bottom:20px; right:20px; width:36px; height:36px; line-height:36px; font-size:16px; text-align:center; opacity:.2;}
#backtotop i{display:block; width:100%; height:100%; line-height:inherit;}
#backtotop.visible{visibility:visible; opacity:.5;}
#backtotop:hover{opacity:1;}*/

.carousel-inner img {
    min-width: 100%;
    background-size: cover;
   
}
/*#contactus{ background-image: url(/images/Yoga_Images/pexels-photo-374633.jpeg);background-size: cover;}*/
/*CONTACT US*/
.boxed-grey {
	background: #f9f9f9;
	padding: 20px;
}
form#contact-form .form-group label {
	text-align: left !important;
	display: block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
}
form#contact-form input,form#contact-form select,form#contact-form textarea {
	border-radius: 0;
	border: 1px solid #eee;
  -webkit-box-shadow: none;
          box-shadow:  none;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.input-group-addon {
  background-color: #fefefe;
  border: 1px solid #eee;
  border-radius: 0;
}

.widget-contact {
	text-align: center;
}
/*contact us social media links*/
.company-social {
	margin-left: 0;
	padding-left: 0;
	margin-top: 10px;
}

.company-social {
	text-align: center;
}

.company-social li{
    display: inline-block;
	margin:0 !important;
	padding:0;
}


.company-social a{
	margin:0;
	padding:0;
    display: block;
	width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #3bbec0;
	color: #fff;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.company-social a i{
	text-align: center;
	margin:0;
	padding:0;
}
.company-social .social-facebook a{background: #3873ae;}
.company-social .social-twitter a{background: #62c6f8;}
.company-social .social-dribble a{background: #d74980;}
.company-social .social-deviantart a{background: #8da356;}
.company-social .social-google a{background: #dc4a38;}
.company-social .social-vimeo a{background: #51a6d3;}
.company-social .social-youtube a{background: #d72523;}
.company-social .social-facebook a:hover{background: #4893ce;}
.company-social .social-twitter a:hover{background: #82e6ff;}
.company-social .social-dribble a:hover{background: #f769a0;}
.company-social .social-deviantart a:hover{background: #adc376;}
.company-social .social-google a:hover{background: #f46a59;}
.company-social .social-vimeo a:hover{background: #71c6f3;}
.company-social .social-youtube a:hover{background: #f15854;}

/*Social media sidebar*/
.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:-140px;
    top:230px;
    width:210px;
    z-index: 1100;
}
.sticky li{
    list-style-type:none;
    background-color:transparent;
    color:#efefef;
    height:43px;
    padding:0px;
    margin:0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}
.sticky li:hover{
    margin-left:-20px;
}
.sticky li img{
    float:left;
    margin:5px 4px;
    margin-right:5px;
}
.sticky li p{
    padding-top:5px;
    margin:0px;
    line-height:16px;
    font-size:11px;
}
.sticky li p a{
    text-decoration:none;
    color:#2C3539;
}
.sticky li p a:hover{
    text-decoration:underline;
}


/*Events*/
.sngl_pricing ul {
border : #ebebeb solid 2px;
margin : 0;
padding : 0;transition: all 1s ease 0s;
-moz-transition: all 1s ease 0s;
-webkit-transition: all 1s ease 0s
}
.sngl_pricing ul li {
color : #666666;
font-family : lato;
font-size : 16px;
list-style : none outside none;
text-transform : capitalize;
border-top : 1px solid #EBEBEB;
padding : 10px 0;
text-align : center;
}
.sngl_pricing ul li:first-child {
border-top : 0;
}
.sngl_pricing {
text-align : center;
border : #ebebeb solid 2px;
}
.sngl_pricing:hover {
border : #00AFF0 solid 2px;transition: all 1s ease 0s;
-moz-transition: all 1s ease 0s;
-webkit-transition: all 1s ease 0s
}
.sngl_pricing:hover.sngl_pricing h3 {
background : none 0 0 repeat scroll #00AFF0;transition: all 1s ease 0s;
-moz-transition: all 1s ease 0s;
-webkit-transition: all 1s ease 0s
}
.sngl_pricing > h2 {
color : #fff;
font-size : 18px;
margin : 0;
padding : 20px;
text-transform : uppercase;
}
.title_bg_1 {
    background-color: #45aed6;
background-position : center center;
background-repeat : no-repeat;
background-size : 100% 100%;
}
.title_bg_2 {
    background-color: #d10869;
background-position : center center;
background-repeat : no-repeat;
background-size : 100% 100%;
}
.title_bg_3 {
    background-color: #6A417A;
background-position : center center;
background-repeat : no-repeat;
background-size : 100% 100%;
}

#past:hover{border : #d10869 solid 2px;transition: all 1s ease 0s;
-moz-transition: all 1s ease 0s;
-webkit-transition: all 1s ease 0s}

#eventnews:hover{border : #6A417A solid 2px;transition: all 1s ease 0s;
-moz-transition: all 1s ease 0s;
-webkit-transition: all 1s ease 0s}



/* Gallery Section 
==============================*/
#tf-works{
	padding: 80px 0;
}
.categories{ 
	padding: 10px 0;
}
ul.cat li{
	display: inline-block;
}
#tf-works li.pull-right {
	margin-top: 10px;
}
ol.type li{
	display: inline-block;
	margin-left: 20px;
}
ol.type li:after{
	content: ' | ';
	margin-left: 20px;
}
ol.type li:last-child:after { content: ''; }
ol.type li a{ color: #222222}
ol.type li a.active { font-weight: 700; }
.isotope-item { z-index: 2 }
.isotope-hidden.isotope-item { z-index: 1 }
.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope-item {
    margin-right: -1px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.isotope {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}
.portfolio-item{
	margin-bottom: 30px;
}
.portfolio-item .hover-bg{
	height: 260px;
	overflow: hidden;
	position: relative;
}

.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.66);
	padding: 25% 0;
	height: 100%;
	width: 100%;
	opacity: 0;
    transition: all 0.5s;
}
.hover-bg .hover-text>h4{
	opacity: 0;
	-webkit-transform: translateY(100%);
            transform: translateY(100%);
            transition: all 0.3s;
}
.hover-bg:hover .hover-text>h4{
	opacity: 1;
    -webkit-backface-visibility:hidden;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
.hover-bg .hover-text>i{
	opacity: 0;
	-webkit-transform: translateY(0);
            transform: translateY(0);
            transition: all 0.3s;
}
.hover-bg:hover .hover-text>i{
	opacity: 1;
    -webkit-backface-visibility:hidden;
   -webkit-transform: translateY(100%);
            transform: translateY(100%);
}
.hover-bg:hover .hover-text{
	opacity: 1;
}
#tf-works i.fa {
	height: 30px;
	width: 30px;
	border: 1px solid #FCAC45;
	font-size: 20px;
	padding: 5px;
	border-radius: 50%;
	color: #FCAC45;
}


/*Course1*/
.course{ padding-top: 100px;background-position: center; background-size: cover;min-height: 100vh;}
.course h2{ text-align: center;}
.course-description{ padding-top: 100px;}
.course img{ }
.eventdetails-box{ border-right: 1px solid}
.eventdetails{ padding-top: 50px;}
.eventdetails h3{ text-align: center;}
.eventdetails img{ padding-top: 20px;}
.eventdetails-venue{ text-align: left;padding-top: 50px;}
@media screen and (max-width: 992px) {
  .eventdetails-box{ border-right: 1px none}
}
/*details of event venue*/
.cnt_info ul {
margin : 0;
padding : 0;
/*border-left : 1px solid #C7C7C7;*/
padding-left : 10px;
}
.cnt_info ul li {
list-style : none outside none;
padding : 15px 0;
}
.cnt_info ul li i {
color : #818181;
float : left;
margin-top : 5px;
}
.cnt_info p {
padding-left : 10px;
}

.dropdown:hover .dropdown-menu{ display: block;border: none;}


#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

